<div class="container section">
  <h2 class="center teal-text lighten-3">About CodeCoach</h2>
  <p class="center light">We at CodeCoach value everyone who wants to learn or wants to help teach others in coding.
    Going from simple basics to very advanced expertises, everyone is welcome to join this coaching/coachee platform.
  </p>
</div>


<div style="background-image: url('assets/youcoach_background1.jpg'); background-size: cover;">
  <div class="container">
    <div>
      <div class="section">

        <div class="row center">
          <h2 class="">It is action that creates motivation<i class="material-icons">format_quote</i></h2>
          <h3 class="light"><i>Steve Backley</i></h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container section">
  <div class="row">
    <div class="col s12 m6">
      <h2 class="center teal-text lighten-3">Become a Coach</h2>
      <h5 class="center">To help others and increase your potential</h5>

      <p class="light">If you feel strong in a technology and want to help others, sign up as a coach. You will
        strengthen your knowledge in this subject, you will develop new skills
        and above all you will feel useful. Your commitment will be
        recognized and rewarded.
      </p>

      <div class="center">
      </div>
    </div>

    <div class="col s12 m6">
      <h2 class="center teal-text lighten-3">Benefit from coaching</h2>
      <h5 class="center">To improve your skills, and keep growing</h5>

      <p class="light">If you have difficulties with a technology and you want to progress,
        make an appointment for peer 2 peer coaching, and benefit from the experience
        of another software developer, who understands your concrete needs. Your willingness to
        progress will be recognized.
      </p>
    </div>

  </div>
</div>



<div style="background: url('assets/youcoach_background5.jpg'); background-size: cover; background-position-y: 30%">

  <div class="container">
    <div class="row center section">
      <h2 class="white-text">In learning you will teach, <br>and in teaching you will learn.<i
          class="material-icons">format_quote</i>
      </h2>
      <h3 class="white-text"><i>Phil Collins</i></h3>
    </div>
  </div>

</div>
<div class="section">

  <div class="row">
    <div class="s12 center">
      <h2 class="teal-text lighten-3">Any questions?</h2>
      <p class="center-align light">Feel free to contact us!</p>
      <div class="center">
        <a routerLink="/contact" class="btn-large waves-effect yellow darken-2 ">
          Contact us
        </a>
      </div>
    </div>
  </div>
</div>
