.signup-form {
  width: 70vw;
  padding: 15px;
}

div{
  .form{
    padding: 20px;

  }
}

mat-form-field{
  margin: 5px;
}

.submit {
  margin-top: 3rem;
}

input{
  margin-top: 1rem;
}

mat-card{
  width: 100%;padding: 50px;
}
