<div id="index-banner">
  <div class="section no-pad-bot parallax-container" >
      <div class="container">
          <h2 class="header center teal-text lighten-3"><i class="extra-large orange-text darken-2 material-icons ">people</i></h2>
      </div>
     <!-- <div ><img src="assets/youcoach_background1.jpg" alt="CodeCoach" appParallax [ratio]="1" ></div> -->
  </div>
</div>

<div class="container">

  <div class="row">
      <div class="col s12 m12">
          <h1 class="center teal-text lighten-3">CodeCoach</h1>

          <p class="left-align light flow-text">CodeCoach is a peer to peer coaching program for professional developers.</p>
          <p class="left-align light flow-text">
              Junior developers who struggle with a certain technique or technology can grow with the help of like minded people.</p>
          <p class="left-align light flow-text">
              With CodeCoach everything is quick and easy: just
              register as a Coach or request a coaching session on this website, and it will organize a private
              coaching session remote or f2f.
          </p>
      </div>
  </div>

</div>


