mat-form-field{
  width: 50%;
}

.signup-form {
  width: 70vw;
  padding: 15px;
}

button{
  width: 250px;
}

.buttonflex{
  display: flex;
  width: 60%;
  flex-direction: row;
  justify-content: space-around;
}

mat-card{
 width: 100%;padding: 50px;margin-top: 5%;
}
