button{
  width: 250px;
}
.buttonflex{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.signup-form {
  width: 70vw;
  padding: 15px;

}

mat-card{
  width: 100%;padding: 50px;
}

