$md-colruyt-primary: (
  50 : #fdf0e3,
  100 : #fbd8b8,
  200 : #f8bf89,
  300 : #f5a55a,
  400 : #f29136,
  500 : #f07e13,
  600 : #ee7611,
  700 : #ec6b0e,
  800 : #e9610b,
  900 : #e54e06,
  A100 : #ecd4c2,
  A200 : #c4926b,
  A400 : #a77149,
  A700 : #825736,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);
