



<header>
  <form class="select-f col l6 m6 s12">
    <input type="search"(ngModelChange)=searchCoach(key.value) #key=ngModel ngModel name="key"
    id="searchCoach" class="form-control mr-sm-2" placeholder="search a coach by name"></form>
  <form [formGroup]="searchForm" (ngSubmit)="submit()">

    <div class="row">
      <div class="select-f col l6 m6 s12">
        <mat-form-field appearance="fill">
          <select matNativeControl required formControlName="topics" (click)="submit()">
            
            <option value="" selected disabled hidden>Select a topic</option>
            <option *ngFor="let topic of topics"
                    ngValue="{{topic.name}}">{{topic.name}}</option>
          </select>
        </mat-form-field>

        
      </div>

<!--      <div class="input-field col l6 m12 s12">-->
<!--        <i class="material-icons prefix">search</i>-->
<!--        <input id="icon_prefix" formControlName="searchQuery" (keyup)="submit()"-->
<!--               type="text" class="validate">-->
<!--        <label for="icon_prefix">First name, last name or email</label>-->
<!--      </div>-->
    </div>

<!--    <input type="search" (ngModelChange)=searchCoach(key.value) #key=ngModel ngModel name="key"-->
<!--           id="searchCoach" class="form-control mr-sm-2" placeholder="search a topic">-->

<!--    <div class="search-fields" *ngIf="coachees.length > 0">-->
<!--      <mat-form-field class="search-coach-name">-->
<!--        <mat-label>First name, last name or email:</mat-label>-->
<!--        <input matInput id="name" type="text" [(ngModel)]="searchText">-->
<!--      </mat-form-field>-->
<!--    </div>-->
  </form>


</header>






<div class="container">
  <mat-progress-bar class="loader-container" mode="indeterminate" color="accent" *ngIf="loader.isLoading | async"></mat-progress-bar>
  <h2 *ngIf="loader.isLoading | async" class="center teal-text">Loading Coaches...</h2>
  <mat-grid-list cols="4" rowHeight="450px">
    <mat-grid-tile *ngFor="let coachee of coachees" >
<!--    <mat-grid-tile *ngFor="let coachee of coachees | nameFilter:searchText" >-->
      <app-coachee-card [coachee]="coachee"></app-coachee-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
